<?php
/** @var Imoje\Pbl\Block\Checkout $block */

$checkoutUrl = $block->getBaseUrl() . 'imoje_pbl/payment/checkout';

$renderPbl = $block->renderPbl();
$isPblPassed = $block->isPblPassed();
?>

<?php if($isPblPassed['status']) {

	echo __('Please wait, in the next step you will choose a payment method.') ?>
    <br/><br/>

	<?= $renderPbl; ?>

    <script type="text/javascript">
        document.getElementById('submit-payment-form').click();
    </script>

<?php } else { ?>

    <style>
        .box-pm {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: center;
        }

        .title {
            margin-bottom: 30px;
        }

        .pm {
            margin: 0 5px;
        }

        .pm-content {
            position: relative;
            margin-bottom: 1.563rem;
            height: 165px;
            width: 160px;
            background: #fff;
            box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
            border: 1px solid transparent;
        }

        .pm-content:hover {
            border-color: green
        }

        .pm-logo {

            max-height: 50%;
            max-width: 65%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .pm-description {
            padding: 4px;
            z-index: 2;
            text-align: center;
            transition: bottom .3s;
            color: black;
        }

        .pm-link:hover {
            text-decoration: none;

        }

        .hidden {
            display: none;
        }

        .pbl_loading-content {
            background: #fbfbfb none;
            border: 1px solid #d6d4d4;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            color: black;
            padding: 20px;
        }

        #pbl_loading {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50000;
            background: rgba(0, 0, 0, .5)
        }
    </style>

    <section style="display:block">
        <h2 class="h3 text-uppercase title">
            <?= __('Choose payment channel') ?>
        </h2>
        <div class="box-pm row">
            <div id="pbl_loading" class="hidden">
                <div class="pbl_loading-content">
                    <?= __('Please wait, you will be redirected to next step.') ?>
                </div>
            </div>

			<?php foreach($renderPbl as $pbl) { ?>
                <div class="pm">
                    <a class="pm-link"
                       href="<?= $checkoutUrl . '?pm=' . $pbl['paymentMethod'] . '&pmc=' . $pbl['paymentMethodCode'] ?>">
                        <div class=" pm-content">

							<?php if($pbl['logo']) { ?>
                                <img class="pm-logo" src="<?= $pbl['logo'] ?>"
                                     alt="<?= $pbl['description'] ?>">
							<?php } ?>
                            <div class="pm-description">
                                <p>
									<?= $pbl['description'] ?>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
			<?php } ?>
        </div>
    </section>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {

            require(['jquery'],function($){

                $('.pm-link').click(function () {
                    $('#pbl_loading').removeClass('hidden');

                });
            });
        })
    </script>
<?php } ?>

